@model  List<Management.PetBreeds>

<table class="display table table-striped table-hover" id="petListDataTable" style="display:none;width:100%;    color:black
">
    <thead>
        <tr>
            <th colspan="5" style="text-align: left">Total Number of Pets = 10 </th>
            <th colspan="5" style="text-align: right">Required Number of Pets = 0 
            </th>
        </tr>
        <tr>      
            <th data-sortable="false" style="vertical-align:middle">
               <input type="checkbox" name="allToOne" />
            </th>     
            <th style="vertical-align:middle">Name</th>
            <th style="vertical-align:middle">Age</th>            
            <th style="vertical-align:middle">Type</th>         
            <th style="vertical-align:middle">Today's Milk (ml)</th> 
            <th style="vertical-align:middle">Average Milk (ml)</th> 
            <th style="vertical-align:middle">Total Milk (ml)</th> 
            <th style="vertical-align:middle">Health</th>
            <th style="vertical-align:middle">Remarks</th>   
            <th data-sortable="false" style="text-align:center;vertical-align:middle">
                 <input style="width:65px" type="button" value="add" class="btn btn-primary" onclick='if(this.value=="delete"){ajax("?req=delete","petList")} else{adder();}' />
            </th>               
        </tr>
    </thead>
    <tbody>
         @foreach (Management.PetBreeds item in Model.Where(flag => flag.DeleteFlag != 'D'))
         {
         <tr onclick="selectCheckbox($(this),event)">
             <td style="vertical-align:middle">
                 <input type="checkbox" name="oneToOne" value="@item.Id" />
             </td>
                <td style="vertical-align:middle">@item.Details.Name</td>      
                <td style="vertical-align:middle">@item.Details.Age</td>                              
                <td style="vertical-align:middle">@((Attribute.GetCustomAttribute(typeof(Management.PetType).GetField(item.Type+""),typeof(Attribute)) as System.ComponentModel.DescriptionAttribute).Description.Split('/')[0])</td>
                <td style="vertical-align:middle">@item.MilkSheds.TodaysMilk</td>  
                <td style="vertical-align:middle">@item.MilkSheds.AverageMilk</td>  
                <td style="vertical-align:middle">@item.MilkSheds.TotalMilk</td>  
                <td style="vertical-align:middle">@item.Details.Health</td>                   
                <td style="vertical-align:middle">@item.Details.Remarks</td>                   
                <td style="text-align:center;vertical-align:middle">
                     <input type="button" value="View" class="btn btn-info" onclick='ajax("@("?req=id["+item.Id+"]")","petDetails")' data-toggle="modal" data-target="#petDetails" />
                </td>
            </tr>
            }
    </tbody>
</table>

